body {
  display: flex;
  color: #999;
  font-size: 70px;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  font-family: 'Cutive Mono', 'Courier New', monospace;
  cursor: pointer;
}
